<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>usc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>432F695B15DA41DB000273C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435EF630162D28E300944FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435EF674162D307500944FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43C58407162BD08000A54E7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
