<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>usc.bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>usc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>uscResource copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>uscResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>uscsdkdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>212B790C165A2F71007D8151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>212B791C165A2FC1007D8151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC77F3165B1BDD003923C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC7805165B2CAC003923C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC782B165B54A4003923C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BC7910165B8E55003923C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>432F695B15DA41DB000273C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435EF674162D307500944FAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
